@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
  margin-top: auto;
}

.border{
  border: 0;
} 

[class='dark'] body {
  background-color: #111314;
}

.swiper-slide{
  width: fit-content !important;
}